html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}

#preload{
    background-color: $bg_preload;

}
.pointer{
    cursor: pointer;
}
div{
    height: auto !important;
    overflow-y: hidden;
}
//movil
@media screen and (max-width: $large-screen) {
    *{
        position: static;
        width: auto !important;
        height: auto !important;
    }
    .not-mobile{
        display: none !important;
    }
    
    .stage{
        @include static();
        text-align: center;
        padding: 1rem 0 1rem 0;
    }
    img{
        max-width: 100%;
    }
    .slider{
        margin: 0 !important;
        margin-top: 80px !important;
        display: block !important;
        background-image: none !important;
        padding: 0 10px 0 10px;
        background-color: #FFF !important;
        width: 80% !important;
        height: calc(102% + 80px) !important;
    }
    body{
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }
    *{
        word-wrap: break-word !important;
    }

}
@media screen and (min-width: $large-screen) {
    div{
        position: absolute;
    }
    body {
        position: relative;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    #app{
        width: $ova-width !important;
        height: $ova-height !important;
        left:calc(50vw - $ova-width / 2);
        top: calc(50vh - $ova-height / 2);
        margin: 0 auto;
        border: 1px solid #d5d5d5;
        @include absolute();
    }
    .stage{
        @include absolute();
    }
    .flex-row{
        @include flex(row,center,center );
        @include reset();
    }
    .flex-row > *{
        position: static !important;
    }
    .flex-column{
        @include flex(column,center,center );
        @include reset();
    }
    .flex-column >  *{
        position: static !important;
    }
    
    .flex-column img{
        height: auto;
    }
    .static{
        position: static;
    }
    #slider{
        overflow: visible !important;
    }
}
