@charset "UTF-8";

@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/CenturyGothic.eot');
  src: url('./fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CenturyGothic.woff2') format('woff2'),
      url('./fonts/CenturyGothic.woff') format('woff'),
      url('./fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('./fonts/CenturyGothic-Bold.eot');
  src: url('./fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CenturyGothic-Bold.woff2') format('woff2'),
      url('./fonts/CenturyGothic-Bold.woff') format('woff'),
      url('./fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic Bold Italic';
  src: url('./fonts/CenturyGothic-BoldItalic.eot');
  src: url('./fonts/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CenturyGothic-BoldItalic.woff2') format('woff2'),
      url('./fonts/CenturyGothic-BoldItalic.woff') format('woff'),
      url('./fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic Italic';
  src: url('./fonts/CenturyGothic-Italic.eot');
  src: url('./fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CenturyGothic-Italic.woff2') format('woff2'),
      url('./fonts/CenturyGothic-Italic.woff') format('woff'),
      url('./fonts/CenturyGothic-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Black';
  src: url('./fonts/Lato-Black.eot');
  src: url('./fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Lato-Black.woff2') format('woff2'),
      url('./fonts/Lato-Black.woff') format('woff'),
      url('./fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Black Italic';
  src: url('./fonts/Lato-BlackItalic.eot');
  src: url('./fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Lato-BlackItalic.woff2') format('woff2'),
      url('./fonts/Lato-BlackItalic.woff') format('woff'),
      url('./fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Bold Italic';
  src: url('./fonts/Lato-BoldItalic.eot');
  src: url('./fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Lato-BoldItalic.woff2') format('woff2'),
      url('./fonts/Lato-BoldItalic.woff') format('woff'),
      url('./fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Century Gothic Regular';
  src: url('./fonts/Century_Gothic_Regular-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}