
@mixin desktop {
    @media only screen and (min-width: 1024px) {
        position: absolute;
        @content;
    }
}
@mixin small {
    @media only screen and (max-width: 1023px) {
      background-size: 100%;
        background-position: center;
      @content;
    }
}
#btn_home{
    cursor: pointer;
    @include small(){
        display: none;
    }
    @include desktop(){
        
        top: 10px;
        right: 20px;
        z-index: 1;
    }
}
#btn_credits{
    cursor: pointer;
    @include desktop(){
        top: 10px;
        left: 20px;
        z-index: 1;
    }
    @include small(){
        display: none;
    }
}
.popup{

    background-color: #fff;
    background-image: url(./images/background.png), url(./images/book.png);
    background-repeat: no-repeat;
    background-position: bottom right, 90% 60%;

    @include small(){
        background-image: none;
    }
}
#credits{
    &_close{
        cursor: pointer;
        @include small(){
            display: none;
        }
        @include desktop(){
            top: 10px;
            right: 20px;
        }
    }
    @include desktop(){
        top: 120px;
        left: 250px;
    }
    &_title{
        @include desktop(){
            top: 40px;
            left: 30px;
        }
    }
    &_text{
        
        li{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-family: 'Century Gothic Regular';
            font-size: 1.2rem;
            color: #676767;
            span:nth-child(1){
                font-family: 'Century Gothic Bold';
                font-size: 1.2rem;
            }
        } 
    }
}


#stage1{
    background-image: url(./images/icon_home.png), url(./images/background.png);
    background-position: top right;
    background-repeat: no-repeat;
    @include small{
        background-image: none;
    }
    &__title{
        @include desktop{
            top: 80px;
            left: 20px;
        }
    }
    &__btn{
        cursor: pointer;
        @include small{
            display: none;
        }
        @include desktop{
            bottom: 80px;
            left: 200px;
        }
    }
}
.title{
    font-family: 'Century Gothic Bold';
    font-size: 3rem;
    @include small(){
        
        padding: 20px 0 20px 0;
    }
    span{
        color: #00A599;
    }
}
.text{
    font-family: 'Century Gothic Regular';
    font-size: 2rem;
    @include small(){
    }
}
.content{
    font-family: 'Century Gothic Regular';
    font-size: 1.2rem;
    p{
        margin-top:20px;
    }
    @include small(){
    }
}
.legend{
    font-family: 'Century Gothic Bold';
    font-size: 1.2rem;
    color: #00A599;
    span{
        font-weight: bold;
    }
}

#slider{
    background-color: #fff;
    margin: 0;
    
    &_1{
        background-color: #fff;
        background-image: url(./images/avatar_empresarial.png), url(./images/background.png);
        background-repeat: no-repeat;
        background-position: 10% 80%;
        @include small{
            background-image:  none;
            background-color: #fff;
        }
        .title{
            @include desktop(){
                top: 80px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        .content{
            @include desktop(){
                top: 200px;
                right: 200px;
                width: 45%;
                padding-bottom: 10px;
                font-size: 1.6rem;
                text-align: center;
            }
        }
    }
    &_2{
        margin: 0;
        background-color: #fff;
        background-image: url(./images/avatar_2.png), url(./images/background.png);
        background-repeat: no-repeat;
        background-position: 50px 96%, bottom right;
        @include small{
            background-image:  none;
            background-color: #fff;
        }
        .title{
           
            @include desktop(){
                font-size: 2.2rem;
                top: 40px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        &_content{
            @include desktop(){
                top: 200px;
                right: 200px;
                width: 50%;
                text-align: center;
            }
            &_t1{
                font-size: 2rem;
                font-family: 'Century Gothic Bold';
                margin-bottom: 30px;
                text-align: right;
            }
            &_t2{
                font-size: 1.3rem;
                font-family: 'Century Gothic regular';
            }
            
        }
        &_link{
           
            color:#000;
            margin: 10px 0 30px 0;
            font-family: 'Century Gothic Bold';
            text-decoration: none;
            cursor: pointer;
            @include desktop(){
                font-size: 1.1rem;
                top: 480px;
                left: 300px;
                width: 700px;
            }
        }
    }
    &_3{
        margin: 0;
        background-color: #fff;
        background-image: url(./images/avatar_video.png), url(./images/background.png);
        background-repeat: no-repeat;
        background-position: 5% 96%;
        @include small{
            background-image:  none;
            background-color: #fff;
        }
        #title_video{
            @include desktop(){
                top: 80px;
                left: 4%;
                font-size: 6rem;
                text-align: center;
            }
        }
        &__text{
            text-align: center;
            @include desktop(){
                top: 200px;
                right: 210px;
                width: 46%;
                
            }
            &_content{
                font-size: 1.4rem;
                padding: 0 0 0 22px;
                font-family: 'Century Gothic Regular';
            }
            &_1{
             
                    color: #00A599;
                    font-size: 2.2rem;
                    font-family: 'Century Gothic Bold';
                    margin-top: 20px;
                    text-align: left;
                
            }
            &_2{
                font-size: 1rem;
                font-family: 'Century Gothic regular';
                margin-top: 30px;
                margin-left: 30px;
                text-align: left;
            }
           
        }
        #link1{
            font-size: 1.4rem;
            font-family: 'Century Gothic Bold';
            list-style: none;
            color: #000;
            cursor: pointer;
            @include desktop(){
                top: 500px;
                left: 350px;
                width: 90%;
            }
        }
    }
    &_4{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        @include small{
            background-image:  none;
            background-color: #fff;
        }
        .title{
            text-align: center;
            @include desktop(){
                top: 90px;
                left: 70px;
                width: 80%;
            }
        }
        ul {
            @include desktop(){
                top: 220px;
                left: 70px;
                width: 80%;
            }
            li{
                list-style: none;
                display: flex;
                align-items: center;
                margin: 10px 0 10px 0;
                font-family: 'Century Gothic Bold';
                font-size: 1.2rem;
                gap: 10px;
                margin-top: 20px;
                text-align: left;
            }
        }
    }
    &_5{
        background-color: #fff;
        background-image: url(./images/background.png);
        @include small{
            background-image:  none;
            background-color: #fff;
        }
        .title{
            @include desktop(){
                top: 80px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        .legend{
            @include desktop(){
                top: 220px;
                right: 80px;
                width: 40%;
                text-align: center;
            }
        }
        .text{
            @include desktop(){
                top: 250px;
                left: 120px;
                width: 35%;
                text-align: center;
            }
        }
     
        #book1{
            @include desktop(){
                top: 300px;
                right: 190px;
                cursor: pointer;
            }
        }
        &_subtitle{
            font-size: 1.4rem;
            font-family: 'Century Gothic Regular';
            @include desktop(){
                top: 140px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        &_footer{
            font-size: 1.2rem;
            font-family: 'Century Gothic Regular';
            @include desktop(){
                top: 500px;
                left: 12%;
                width: 40%;
                text-align: center;
            }
        }
        ul {
            @include desktop(){
                top: 220px;
                left: 70px;
                width: 80%;
            }
            li{
                list-style: none;
                display: flex;
                align-items: center;
                text-align: left;
                margin: 10px 0 10px 0;
                font-family: 'Century Gothic Bold';
                font-size: 1.2rem;
                gap: 10px;
                margin-top: 20px;
            }
        }
    }
   
    &_7{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png) ;
        background-position: 0 0, 0 90%;
        background-repeat: no-repeat;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(./images/video.png);
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 0 90%;
            opacity: 0.5; /* Set the opacity here */
          }
        @include small{
            background-image:  none;
            background-color: #fff;
        }
       
       
        &_text_1{
            font-family: 'Century Gothic Bold';
            @include desktop(){
                top: 120px;
                left: 160px;
                width: 70%;
                color: #00A599;
                font-size: 1.7rem;
                text-align: center;
                margin-top: 20px;
            }
        }
        &_text_2{
            font-family: 'Century Gothic Bold';
            @include desktop(){
                top: 310px;
                left: 160px;
                width: 70%;
                color: #00A599;
                font-size: 1.7rem;
                text-align: center;
                margin-top: 20px;
            }
        }
        &_link1{
            font-family: 'Century Gothic Bold';
            color: #000;
            text-decoration: none;
            @include desktop(){
                top: 250px;
                font-size: 1.3rem;
                left: 100px;
                width: 80%;
                text-align: center;
            }
        }
        &_link2{
            font-family: 'Century Gothic Bold';
            color: #000;
            text-decoration: none;
            @include desktop(){
                top: 450px;
                font-size: 1.3rem;
                left: 100px;
                width: 80%;
                text-align: center;
            }
        }
        .info{
            cursor: pointer;
            @include desktop(){
                top: 90px;
                left: 90px;
                width: 62px;
                height: 62px !important;
            }
            img{
                width: 62px;
            }
        }
    }
    
}
#controls{
    display: flex;
    gap: 10px;
    cursor: pointer;
    @include desktop(){
        bottom: 10px;
        right: -50px;
        width: 200px;
    }
    @include small(){
        display: none;
    }
}
.modal{
    @include small(){
        width: 100% !important;
        height: 100vh !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    @include desktop(){
        width: 100% !important;
        height: 100vh !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .content_modal{
        @include small(){
            width: 100% !important;
            height: 100vh !important;
            background-color: #000000d0;
            display: flex;
            justify-content: center;
            align-items:center;
            img{
                width: 100% !important;
            }
        }
        
    }
    .close{
        cursor: pointer;
        @include small(){
            position: absolute;
            top: 10px;
            right: calc(50% - 35px);
        }
        @include desktop(){
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    
}